<!DOCTYPE html>
<html>
  <head>
    <title>测试threejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/three.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <div id="canvas" width="400px" height="300px"></div>
  </body>
</html>
